</section>
<button class="top-btn"><i class="fa-solid fa-arrow-up"></i></button>

<section id="footer">
    <footer class="padding_4x">
      <div class="flex">
       
        <section class="flex-content padding_1x">
          <h3>Quick Links</h3>
          <a href="/">Home</a>
          <a href="/shop">Shop</a>
          <a href="/about">About Us</a>
          <a href="/contact">Contact</a>
        </section>
        <section class="flex-content padding_1x">
          <h3>My Account</h3>
          <a href="/account">Dashboard</a>
          <a href="/order">Orders</a>
          <a href="/cart">Cart</a>
          <a href="/policy">Privacy Policy</a>
        </section>
        
        <section class="flex-content padding_1x">
          <h3>Newsletter</h3>
          <p>You can trust us. we only send promo offers,</p>
         
          <form action="/subscribe" method="post" class="fixed_flex">
            <input type="email" name="newsletter" placeholder="example@gmail.com" required >
            <button class=" btn_2 px-4 fw-bold" >Subscribe</button>
          </form>
        </section>
      </div>
      <div class="flex">
        <section class="flex-content padding_1x">
          <p>Copyright ©2023 All rights reserved || eTrade</p>
        </section>
        <section class="flex-content padding_1x">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </section>
      </div>
    </footer>
   
    </section>



  <!-- -----------------------------------scripts -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js" ></script>
    
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="../javascripts/script.js"></script>
    <!-- <script src="../javascripts/animation.js"></script> -->
</body>
</html>