 <!-- Start Axil Newsletter Area  -->
 <div class="axil-newsletter-area axil-section-gap ">
    <div class="container">
        <div class="etrade-newsletter-wrapper bg_image bg_image--5">
            <div class="newsletter-content ">
                <span class="title-highlighter highlighter-primary2"><i class="fa-solid fa-envelope-open"></i>Newsletter</span>
                <h2 class="title mb--40 mb_sm--30">Get weekly update</h2>
                <div class="input-group newsletter-form">
                    <form action="/subscribe" method="post" class="d-flex gap-2 p-0 m-0 flex-wrap">
                        <div class="position-relative newsletter-inner ">
                            <input placeholder="example@gmail.com" type="email" name="newsletter" required>
                        </div>
                        <button type="submit" class="axil-btn ">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End .container -->
</div>
<!-- End Axil Newsletter Area  -->