<%- include('partials/header.ejs') %>
 <!-- Start Breadcrumb Area  -->

<section>
    <div class="axil-signin-area signin-form">

      
        <!-- End Header -->

        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="axil-signin-banner bg_image bg_image--9">
                    <h3 class="title">We Offer the Best Products</h3>
                </div>
            </div>
            <div class="col-lg-6 offset-xl-2">
                
                <div class="singin-header-btn d-flex gap-3 justify-content-center my-5 align-items-center">
                    <p>Not a member?</p>
                    <button class="axil-btn btn-bg-secondary sign-up-btn">Sign Up Now</button>
                </div>
                <div class="axil-signin-form-wrap">
                    <div class="axil-signin-form">
                        <h3 class="title">Sign in to eTrade.</h3>
                        <p class="b2 mb--55">Enter your detail below</p>
                        <form class="singin-form mt-4" action="/login" method="post">
                            <div class="form-group">
                                <label>Email OR Phone No.</label>
                                <input type="text" class="form-control border user-name1" name="username" placeholder="annie@example.com" required>
                                <small class="username-suggestion1 text-start" style="font-size: 12px;"></small>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control border" name="password"  placeholder="Password" required>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <button type="submit" class="axil-btn btn-bg-primary submit-btn">Sign In</button>
                                <a href="/forget" class="forgot-btn">Forget password?</a>
                            </div>
                            <hr>
                            <div class="d-flex flex-column gap-3 ">
                                <span class="text-center">OR</span>
                              <a href="/login/federated/google"><button class="axil-btn btn-bg-secondary w-100" type="button">LogIn With Google</button></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="axil-signin-area   signup-form">

       
        <!-- End Header -->

        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="axil-signin-banner bg_image bg_image--10">
                    <h3 class="title">We Offer the Best Products</h3>
                </div>
            </div>
            <div class="col-lg-6 offset-xl-2">
                <div class="singin-header-btn d-flex gap-3 justify-content-center my-5 align-items-center">
                    <p>Already a member?</p>
                    <button class="axil-btn btn-bg-secondary sign-in-btn">Sign In</button>
                </div>
                <div class="axil-signin-form-wrap">
                    <div class="axil-signin-form">
                        <h3 class="title">I'm New Here</h3>
                        <p class="b2 mb--55">Enter your detail below</p>
                        <form class="singin-form signup-form1" action="/register" method="post">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control border" name="fullname"  placeholder="anniemario" required>
                                
                            </div>
                            <div class="form-group">
                                <label>Username OR phone No.</label>
                                <input type="email" class="form-control border user-name" name="username"  placeholder="annie@example.com" required>
                                <small class="username-suggestion text-start" style="font-size: 12px;"></small>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control border pass-val" name="password"  placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control border cnf-val" name="confirmpassword"  placeholder="Confirm Password" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="axil-btn btn-bg-primary submit-btn1 submit-btn">Create Account</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

        var signup_form = document.querySelector(".signup-form")
        var signin_form = document.querySelector(".signin-form")
        var submit_btn = document.querySelector(".submit-btn1")

        // submit_btn.addEventListener("click",function(){
        //     var x = document.querySelector(".pass-val")
        //     var y = document.querySelector(".cnf-val")
        //     if (x.value === y.value) {
        //         document.querySelector(".signup-form1").submit();
        //     }else{
        //         alert("Password Not Matched")
        //     }

        // })

        document.querySelector(".sign-up-btn").addEventListener("click",function(){
            signup_form.style.display="block"
            signin_form.style.display="none"
        })
        document.querySelector(".sign-in-btn").addEventListener("click",function(){
            signup_form.style.display="none"
            signin_form.style.display="block"
        })

        document.querySelector(".user-name").addEventListener("change",function(){
        var small = document.querySelector(".username-suggestion")
        var x = document.querySelector(".user-name")
       if(this.value.trim().length >0){
        axios.get(`/check/${this.value}`).then(function(res){
            if (res.data == null) {
                small.style.display="block"
                small.style.color="green";
                small.textContent = "Available"
            }else if(res.data.username == x.value){
                small.style.display="block"
                small.style.color="red";
                small.textContent = "UserName Already Taken."
            }else if (res.data.mobilenumber == x.value) {
                small.style.display="block"
                small.style.color="red";
                small.textContent = "Mobile Number Already Taken."
            }
        })
       }else{
        small.style.display="none"
       }
})

document.querySelector(".user-name1").addEventListener("change",function(){
        var small = document.querySelector(".username-suggestion1")
       if(this.value.trim().length >0){
        axios.get(`/check/${this.value}`).then(function(res){
            if (res.data == null) {
                small.style.display="block"
                small.style.color="red";
                small.textContent = "User Not Found"
            }else{
                small.style.display="block"
                small.style.color="red";
                small.textContent = ""

            }
        })
       }else{
        small.style.display="none"
       }
})
    </script>
<%- include('partials/footer.ejs') %>